$color-white: #ffffff;
$color-black: #2e2e2e;

$color-primary: #989898;
$color-secondary: #7C045D;
$color-secondary-light: lighten($color-secondary, 20%);
$color-secondary-dark: darken($color-secondary, 20%);
$color-primary-light: lighten($color-primary, 20%);
$color-primary-dark: darken($color-primary, 20%);

$padding-small:5px;
$padding-medium:10px;
$padding-large:20px;