@use "../../styles/variables" as *;

.home-bar{
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:$color-primary;
  border-bottom: $padding-small solid $color-secondary;
  padding:$padding-medium;
  &__buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  h1 {
    background-color:$color-primary;
    color: $color-black;
  }
}