@use "../../styles/variables" as *;
.dropdown {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 0;
  
    &__items {
      position: absolute;
      width: 100px;
      //padding-bottom: 1px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      z-index: -1;
      border-radius:5px;
      background-color:$color-primary;
      opacity: 0.9;
    }
  
    &__link {
      text-decoration: none;
    }
  
    &__item {
      height: 30px;
      text-align: center;
      color: $color-secondary-light;
    }
  
    &__items :hover {
      color: $color-secondary-dark;
      transition: all 150ms ease-in;
    }
  
    &__item-blank {
      padding: 0;
      margin: 0;
      height: 60px;
    }
  }
  