@use "../../styles/variables" as *;
.edit-course{
    display:flex;
    margin:$padding-large;
    justify-content: space-around;
    align-content: center;
    &__content{
        width:300px;
        height: auto;
        padding: $padding-large;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        box-shadow: 5px 5px;
        border: 2px solid $color-primary-dark
    }
}